@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'bootstrap/dist/css/bootstrap.min.css';

:root {
  --primary-color: #007B5F;
  --white-color: #ffffff;
  --gray-color: #666666;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-card {
  border-radius: 8px;
}

.text-success {
  color: var(--primary-color) !important;
}

.text-white {
  color: var(--white-color) !important;
}

.verification-dialog-container .mat-mdc-dialog-surface {
  border-radius: 8px;
  overflow: hidden;
}

.mat-mdc-form-field {
  width: 100%;
}